<div class="container">
    <h3>Rentrez les infos de la recette que vous souhaitez ajouter</h3>
    <form>
      <div class="form-group">
        <label for="name">Nom</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name" #name="ngModel">
      </div>

      <div class="form-group">
        <label for="country">Pays</label>
        <input type="text" class="form-control" id="country" required [(ngModel)]="model.country" name="country" #country="ngModel">
      </div>

      <div class="form-group">
          <label for="type">Type</label>
          <select class="form-control" id="type" required [(ngModel)]="model.type" name="type" #type="ngModel">
              <option *ngFor="let type of types" [value]="type">{{type}}</option>
            </select>
        </div>

      <div class="form-group">
          <label for="type">Difficuté</label>
          <select class="form-control" id="difficulty" required [(ngModel)]="model.difficulty" name="difficulty" #difficulty="ngModel">
              <option *ngFor="let diff of difficulties" [value]="diff">{{diff}}</option>
            </select>
        </div>

      <div class="form-group">
        <label for="duration">Durée</label>
        <input type="text" class="form-control" id="duration" required [(ngModel)]="model.duration" name="duration" #duration="ngModel">
      </div>

      <label for="ingredients">Ingrédients</label>
      <ul><li *ngFor="let ingredient of model.ingredients">{{ingredient.name}} : {{ingredient.quantity}} <button type="button" (click)="deleteIngredient(ingredient.name)">-</button> </li></ul>
      <input #newIngredientName id="ingredients">
      <input #newIngredientQuantity id="ingredient_quantity">

      <button type="button" (click)="addIngredient(newIngredientName.value,newIngredientQuantity.value)">Ajouter l'ingrédient</button>
      <p></p>

      <div class="form-group">
          <label for="explication">Explications</label>
          <textarea type="text" class="form-control" id="explication" [(ngModel)]="model.explication" name="explication" #explication="ngModel"></textarea>
        </div>
  
      <button type="submit" (click)="onSubmit()" class="btn btn-success" routerLink="/display">Submit</button>

    </form>

</div>
