@import '../../../node_modules/bulma/sass/utilities/_all';
@import '../../../node_modules/bulma/sass/elements/_all';
@import '../../../node_modules/bulma/sass/elements/button';
@import '../../../node_modules/bulma/sass/components/message';



#message_window {
    border : 1px solid black;
    background-color: rgba(223, 150, 67, 0.3);
    padding : 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-y: auto;
}

#message {
    margin: 4px;
}

#container{
    height: 80%;
    width: 100%;
}