<div class="container">
  <h3>Créer un nouveau compte</h3>
  <form>
    <div class="form-group">
      <label for="email">E-mail</label>
      <input type="text" class="form-control" id="email" required [(ngModel)]="model.email" name="email" #email="ngModel">
    </div>

    <div class="form-group">
      <label for="password">Mot de passe</label>
      <input type="text" class="form-control" id="password" required [(ngModel)]="model.password" name="password" #password="ngModel">
    </div>

    <div class="form-group">
      <label for="country">Confirmez le mot de passe</label>
      <input type="text" class="form-control" id="password_confirmed" required #passwordConfirmed>
    </div>

    <button type="submit" (click)="signUp(passwordConfirmed.value)" class="btn btn-success">Sign Up</button>
  </form>

</div>