<div class="container">
  <h3>Connectez-vous avec votre compte</h3>
  <form>
    <div class="form-group">
      <label for="name">E-mail</label>
      <input type="text" class="form-control" id="email" required [(ngModel)]="model.email" name="email" #email="ngModel">
    </div>

    <div class="form-group">
      <label for="country">Password</label>
      <input type="text" class="form-control" id="password" required [(ngModel)]="model.password" name="password" #password="ngModel">
    </div>

    <button type="submit" (click)="logIn()" class="btn btn-success">Log In</button>
  </form>

</div>