@import url("https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css");
body {
  font-family: 'Lora';
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 23, 15, 0.65)), to(rgba(47, 23, 15, 0.65))), url("./assets/images/background.jpeg");
  background: -webkit-linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("./assets/images/background.jpeg");
  background: -o-linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("./assets/images/background.jpeg");
  background: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("./assets/images/background.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100%; }

#app {
  height: 100%; }

html {
  height: 100%; }
