<header>
  <img src="../assets/images/chef_gauche.png" alt="chef_gauche">
  <h1 style="text-align:center">
    Mon Livre de Recettes !
  </h1>
  <img src="../assets/images/chef_droite.png" alt="chef_droite">
  <button class="button is-primary is-large" type="button" routerLink="/login" *ngIf="!isOnline()">Log In</button>
  <button class="button is-danger is-large" type="button" (click)="logOut()" *ngIf="isOnline()">Log Out</button>
</header>