<mat-drawer-container class="example-container" autosize *ngIf="recette">
  <div class="container" *ngIf="recette">

    <div id="title">
      <h2>{{ recette.name | uppercase }} </h2>
      <button id="chat" class="button is-success is-large" type="button" mat-button (click)="drawer.toggle()">
        <fa name="comment"></fa>
      </button>
    </div>

    <div class="description">

      <div class="infos">
        <p>Pays : {{recette.country}}</p>
        <p>Difficulté : {{recette.difficulty}}</p>
        <p>Duration : {{recette.duration}}</p>
        <p>Type : {{recette.type}}</p>
        <p> Ingrédients :</p>
        <ul>
          <li *ngFor="let ingredient of recette.ingredients">{{ingredient.name}} : {{ingredient.quantity}}</li>
        </ul>
      </div>

      <div class="explications">
        <p>Explication:</p>
        <p>{{recette.explication}}</p>
      </div>

      <div></div>

    </div>

    <button class="button is-danger is-medium" type="button" (click)="delete(recette._id)">Supprimer la recette</button>
    <button class="button is-warning is-medium" type="button" routerLink="/modify" (click)="sendRecipe()">Modifier la recette</button>

    <p></p>

    <button class="button is-medium is-focused" type="button" (click)="goBack()">Retour à la collection de recette</button>




  </div>
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <div id="chat-bar" class="container">
      <app-chat [name]="recette.name"></app-chat>
    </div>
  </mat-drawer>
</mat-drawer-container>