<div id="page">
  <div class="container">
    <h3>Rentrez les infos de la recherche que vous voulez réalisez</h3>
    <form>
      <div class="form-group">
        <label for="name">Nom</label>
        <input #searchName type="text" class="form-control" id="name">
      </div>

      <div class="form-group">
        <label for="type">Type</label>
        <select #searchType class="form-control" id="type" required>
          <option *ngFor="let categorie of categories" [value]="categorie">{{categorie}}</option>
        </select>
      </div>

      <button type="button" (click)="addSearch(searchName.value,searchType.value)" class="btn btn-success" routerLink="/display">Submit</button>

    </form>

  </div>


  <section class="hero is-light">
    <div class="hero-body">
      <app-citation-banner [citations]="citations"></app-citation-banner>
    </div>
  </section>
</div>